
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>bulma|vue kanban</title>



  <link rel="stylesheet" href="../css/kanban.css" />

</head>

<body>
  <div id="app">
    <nav class="navbar has-shadow">
      <div class="container">
        <div class="navbar-brand"><a class="navbar-item" href="../">
            <img src="https://bulma.io/assets/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" /></a>
        </div>
      </div>
    </nav>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <div class="control has-icons-left has-icons-right search-field">
                  <input class="input is-large" type="text" v-model="search" /><span class="icon is-medium is-left"><i class="fa fa-search"></i></span>
                  <span class="icon is-medium is-right">
                    <i class="delete is-medium clear-search" @click="clearSearchField()" v-if="search.length"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="box cta">
      <section>
        <div class="field">

            {{ isSwitchedCustom }}

        </div>
      </section>
    </div>

    <section class="container cards-container" v-if="isSwitched">
      <div class="columns is-centered is-multiline" id="sectioncontainer">
        <div class="column is-narrow" v-for="yxy in filteredCards">
          <article class="message" :class="'is-' + yxy.cardColor">
            <div class="message-header">

              <p>{{ yxy.name }}</p>
              <button class="delete" aria-label="delete" @click="removeCard(yxy)"></button>
            </div>
            <div class="message-body">
              <div class="board-item">

                <div class="board-item-content" v-for="item in yxy.items"><span>{{ item }}</span></div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section v-else>
      <div class="columns is-centered is-multiline" id="sectioncontainer">
        <div class="column is-narrow" v-for="yxy in filteredCards">
          <article class="message" :class="'is-' + yxy.cardColor">
            <div class="message-header">

              <p>{{ yxy.name }}</p>
              <button class="delete" aria-label="delete" @click="removeCard(yxy)"></button>
            </div>
            <div class="message-body">
              <div class="board-item">

                <div class="board-item-content" v-for="item in yxy.items"><span>{{ item }}</span></div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>


  </div>
  <footer>
    <div class="box cta">

    </div>
  </footer>



</body>

</html>
